.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.logo {
    height: 40px;
}

.nav-link {
    color: #A5A58D !important;
}

.active {
    color: #6B705C !important;
    font-weight: bold;
}

.post {
    margin-bottom: 20px;
}

.post-head {
    border-top: 1px solid #A5A58D;
}

.user {
    margin: 15px;
    color: #CB997E;
    font-weight: bold;
}

.photo {
    width: 100%;
}

.caption {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    margin: 0px;
    color: #6B705C;
}

.footer {
    height: 50px;
    margin-top: 40px;
    padding-top: 12px;
    padding-left: 10px;
    border-top: 1px solid #A5A58D;
}

.footer a {
    text-decoration: none;
    color: #CB997E;
}